#tutorial-main-container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "animation-one animation-two animation-three "
        "animation-four animation-five animation-six";
    text-align: center;
}

#animation-one, 
#animation-two, 
#animation-three, 
#animation-four, 
#animation-five, 
#animation-six {
    padding: 1em;
    margin: 1em;
}

#animation-one {
    grid-area: animation-one;
}

#animation-two {
    grid-area: animation-two;
}

#animation-three {
    grid-area: animation-three;
}

#animation-four {
    grid-area: animation-four;
}

#animation-five {
    grid-area: animation-five;
}

#animation-six {
    grid-area: animation-six;
}