/* 
to-do: 
- incorporate grid
- find better solution for image once it's been clicked on (instead of just making it more transparent)
*/

#landing-wrapper {
    /* creates positioning context for any absolutely positioned child elements */
    position: relative;
    text-align: center;
}

/* this is initially visible */
#landing-image img {
    max-width: 40%;
    /* makes the image look clickable */
    cursor: pointer;
    /* adds a smooth fade effect to the image opacity's change */
    transition: opacity 0.5s ease;
}

/* this is initially hidden */
#landing-content {
    /* content collapsed vertically so it's not visible */
    max-height: 0;
    /* if any content does spill out, hide it */
    overflow: hidden;
    /* also make content transparent to keep it extra hidden */
    opacity: 0;
    /* smooth transition for any property changes */
    transition: all 0.6s ease;
}

/* once the checkbox is checked, make edits to #landing-content */
#reveal-hidden-content-toggle:checked ~ #landing-content {
    /* change the height so the content is visible */
    max-height: 500vh;
    /* also change the opacity so the content is visible */
    opacity: 1;
    /* add some padding for spacing, but only after content has been revealed */
    padding: 1rem;
}

/* once the checkbox is checked, make edits to #landing-image */
#reveal-hidden-content-toggle:checked + #landing-image img {
    /* faded the image once it's been clicked */
    opacity: 0.3;
}
