#biography-grid {
    display: grid;
    grid-template-columns: 1.25fr 2.5fr 1.25fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "biography-grid-two biography-grid-one biography-grid-three";
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#biography-grid-one {
    grid-area: biography-grid-one;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr .1fr;
    grid-template-areas:
        "bio-grid-one-content-one bio-grid-one-content-two"
        "bio-grid-one-content-three bio-grid-one-content-three";
    background-color: #e4efe4;
    border-radius: 10px;
    border: 1px solid #cdded1;
    margin: 1rem;
}

#biography-grid-two {
    grid-area: biography-grid-two;
}

#biography-grid-three {
    grid-area: biography-grid-three;
}

#biography-grid-two,
#biography-grid-three {
    display: flex;
    align-items: center;
    justify-content: center;
}

figcaption {
    text-align: center;
    margin-top: 1rem;
}

.biography-img {
    display: flex;
    flex-direction: column;
    /* center figcaption under image */
    align-items: center;
    width: 100%;
}

#biography-grid-two img,
#biography-grid-three img {
    max-width: 85%;
    max-height: 85%;
    border-radius: 10px;
    padding: 2.5rem;
    background-color: #f1f8f1;
    border: 1px solid #cdded1;
}

/* biography-grid-one details */
#bio-grid-one-content-one,
#bio-grid-one-content-two,
#bio-grid-one-content-three {
    display: flex;
    align-items: center;
    text-align: center;
}

/* bio paragraph */
#bio-grid-one-content-one {
    grid-area: bio-grid-one-content-one;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
}

#bio-grid-one-content-one p{
    line-height: 1.6;
}

/* bio photo */
#bio-grid-one-content-two {
    grid-area: bio-grid-one-content-two;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
#bio-image {
    border-radius: 15px;
    max-width: 80%;
    height: auto;
    display: block;
    object-fit: contain;
}

/* bio one-sentence */
#bio-grid-one-content-three {
    grid-area: bio-grid-one-content-three;
    display: flex;
    justify-content: center;
}

/* - - - Media Queries - - - */

@media (min-width: 901px) and (max-width: 1400px) {
    #biography-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "biography-grid-one biography-grid-one"
            "biography-grid-two biography-grid-three";
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #biography-grid-one {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "bio-grid-one-content-two bio-grid-one-content-one"
            "bio-grid-one-content-two bio-grid-one-content-three";
        margin: 1rem 2rem;
        padding: 2rem;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    #biography-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "biography-grid-one"
            "biography-grid-two"
            "biography-grid-three";
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #biography-grid-one {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "bio-grid-one-content-one"
            "bio-grid-one-content-two"
            "bio-grid-one-content-three";
        margin: 1rem 2rem;
        padding: 2rem;
    }
}

@media (max-width: 600px) {
    #biography-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "biography-grid-two"
            "biography-grid-one"
            "biography-grid-three";
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #biography-grid-one {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "bio-grid-one-content-one"
            "bio-grid-one-content-two"
            "bio-grid-one-content-three";
        margin: 1rem;
        padding: 2rem;
    }
}