/* - - - Body - - - */

#grid-container-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header-global header-global"
        "index-main index-main"
        "footer-global footer-global";
}

/* - - - Main - - - */

#index-main {
    grid-area: index-main;
    border: 1px pink solid;
}

#grid-main-index-one {
    grid-area: grid-main-index-one;
    border: 1px cyan solid;
}

#grid-main-index-two {
    grid-area: grid-main-index-two;
    border: 1px goldenrod solid;
}

#grid-main-index-three {
    grid-area: grid-main-index-three;
    border: 1px blueviolet solid;
    
}

#grid-main-index-four {
    grid-area: grid-main-index-four;
    border: 1px royalblue solid;
}

#grid-main-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "grid-main-index-one grid-main-index-two"
        "grid-main-index-three grid-main-index-four";
    text-align: center;
    gap: 1em;
    margin: 1em;
}