/* - - - Universal Reset - - - */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* - - - Global Variables - - - */

:root {
  --body-background-color: linear-gradient(to bottom, #eaeaea, #cfd9df);
  --body-text-color: #2c3e50;

  --header-background-color: linear-gradient(to left, #a2c2c7, #7ea0a5);
  --header-text-color: #263238;

  --footer-background-color: linear-gradient(to right, #a2c2c7, #7ea0a5);
  --footer-text-color: #1f2a30;
}

/* - - - Body - - - */

body {
    background: var(--body-background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--body-text-color);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

/* - - - Header - - - */

#header-global {
    grid-area: header-global;
    padding: 1em;
    
    background: var(--header-background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    color: var(--header-text-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#header-global-grid-col-one {
    grid-area: header-global-grid-col-one;
    display: flex;
    justify-content: space-evenly;
}

#header-global-grid-col-two {
    grid-area: header-global-grid-col-two;
    display: flex;
    justify-content: space-around;
}

#header-title h1 {
  margin: 0;
}

#header-global-grid-col-three {
    grid-area: header-global-grid-col-three;
}

#header-global-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header-global-grid-col-one header-global-grid-col-two header-global-grid-col-three";
}

#header-navigation-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}


/* - - - Footer - - - */

#footer-global {
    grid-area: footer-global;
    padding: 1em;

    background: var(--footer-background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    color: var(--footer-text-color);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

#footer-global-grid-col-one {
    grid-area: footer-global-grid-col-one;
    text-align: center;
}

#footer-global-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "footer-global-grid-col-one";
}