/* - - - Universal Reset - - - */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* - - - Global Variables - - - */

:root {
    /* Background Colours */
    --header-background-color: #e2e2e2;
    --footer-background-color: #e6e6e6;
    --body-background-color: #f1f1f1;

    /* Fonts */
    --body-font-family: "Merriweather", serif;
    --body-font-weight: 400;
    --body-font-style: normal;
    --body-text-color: #2c3e50;

    --header-footer-font-family: "Raleway", sans-serif;
    --header-footer-font-weight: 400;
    --header-footer-font-style: normal;
    --header-font-colour: black;
    --footer-font-colour: black;

    /* Links */
    --links-unvisited-font-color: rgb(40, 100, 95);
    --links-visited-font-color: rgb(60, 120, 110);
    --links-hover-font-color: rgb(90, 150, 140);
    --links-active-font-color: rgb(30, 85, 80);
    --links-focus-outline-color: rgb(115, 175, 165);
}

/* - - - Body - - - */

body {
    background: var(--body-background-color);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-style: var(--body-font-style);
    color: var(--body-text-color);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

a:focus {
    outline: 2px dashed var(--links-focus-outline-color);
    outline-offset: 4px;
}

a:link {
    color: var(--links-unvisited-font-color);
}

a:visited {
    color: var(--links-visited-font-color);
}

a:hover {
    color: var(--links-hover-font-color);
}

a:active {
    color: var(--links-active-font-color);
}


/* - - - Header - - - */

#header-global {
    grid-area: header-global;
    height: 90px;
    
    background: var(--header-background-color);
    color: var(--header-font-colour);
    font-family: var(--header-footer-font-family);
    font-weight: var(--header-footer-font-weight);
    font-style: var(--header-footer-font-style);

    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#header-global-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header-global-grid-col-one header-global-grid-col-two header-global-grid-col-three";
    height: 100%;
}

#header-global-grid-col-one,
#header-global-grid-col-two,
#header-global-grid-col-three {
    display: flex;
    align-items: center;
}

#header-global-grid-col-one {
    grid-area: header-global-grid-col-one;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header-global-grid-col-two {
    grid-area: header-global-grid-col-two;
    justify-content: space-around;
}

#header-global-grid-col-three {
    grid-area: header-global-grid-col-three;
}

#header-navigation-ul {
    display: flex;
    justify-content: space-around;
}

#header-navigation-ul li {
    font-size: 1.15rem;
}

#img-logo {
    max-height: 80px;
    width: auto;
}

/* - - - Footer - - - */

#footer-global {
    height: 70px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--footer-background-color);
    color: var(--footer-font-colour);
    font-family: var(--header-footer-font-family);
    font-weight: var(--header-footer-font-weight);
    font-style: var(--header-footer-font-style);
}